{% extends 'base.html.twig' %}

{% block title %}DetailFormation{% endblock %}

{% block body %}

<h1> {{ formation }}</h1>
<p>
    date de debut : {{formation.intitule}} <br>
    programme: {{formation.programme}}
</p>


{% endblock %}
