{% extends 'base.html.twig' %}

{% block title %}DetailModule{% endblock %}

{% block body %}

<h1> {{ module }}</h1>
<p>
    intitule : {{module.intitule}} <br>
    categorie : {{module.categorie}}
</p>

{% endblock %}
