{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
    
    <h1>Mes Modules</h1>
        
    {% for module in modules %}
        <a href="{{ path('show_module', {'id': module.id})}}">{{module}}</a>
        <a class="btn btn-warning" href="{{ path('edit_module', {'id':module.id}) }}">Edit</a> 
        <a class="btn btn-danger" href="{{ path('delete_module', {'id':module.id}) }}">Delete</a><br>
    {% endfor %}
    
{% endblock %}
